body
{

	background-image:linear-gradient(aqua,gold,red,Blue,pink);
}

	.login_div1 , .login_div2
	{
		background: rgb(163, 248, 6);
		padding: 10px;
		float: none;
		border-radius: 15px;
	}

#Btn
{
height: 50px;
width: 200px;
}
#player1, #player2
{
	display: inline-block;
	
}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
background: rgb(25, 6, 230);
border-radius: 10px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: left;
}
